

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(got2.gif)
}

section{
    width: 70%;
    max-width: 800px;
}

section details{
    font-size: 18px;
}

section details summary{
    background-color: #6f0808;
    padding: 2%;
    border-bottom: 2px solid #282828;
}

section details p{
    background-color: #771d1d;
    padding: 2%;
    transition: all .5s;
}

